@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  background-color: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  border: 2px solid #000;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.header #toggle {
  margin-left: 25px;
  font-size: 1.5em;
  cursor: pointer;
}

.header .search-box {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.header .search-box i {
  font-size: 1.5em;
}

.header .search-box:hover i {
  color: #800040;
}

.header .search-box input {
  margin-right: 25px;
  border: none;
  border-radius: 15px;
  background: #fff;
  outline: none;
  float: left;
  padding: 0px 5px;
  color: #222;
  font-size: 14px;
  transition: 0.4s;
  line-height: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  width: 90%;
}

.container .titulo h1 {
  color: #fff;
  padding: 0px 10px;
  text-align: center;
}

.container .encabezado {
  background: #fff;
  height: 50px;
  min-width: 80%;
  display: flex;
  align-items: center;
  padding: 0px 25px;
  margin-bottom: 10px;
  border: 5px solid #000;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.container .agregar {
  background: #fff;
  height: 50px;
  min-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  margin-bottom: 10px;
  border: 5px solid #000;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.container .agregar div {
  color: #222;
  font-weight: 700;
  font-size: 1.2em;
}

.container .agregar i {
  cursor: pointer;
}

#data {
  min-width: 85%;
}

.container .alumno {
  background: #800040;
  height: 50px;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  margin-bottom: 10px;
  border: 2px solid #000;
}

.container .alumno .nombre {
  width: 250px;
  overflow: hidden;
}

.container .alumno div {
  color: #fff;
  font-size: 1.2em;
}

.container .alumno i {
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

@media screen and (max-width: 934px) {
  .container .encabezado {
    display: none;
  }

  #data {
    min-width: 90%;
  }

  .container .alumno div {
    font-size: 1.2em;
  }

  .container .alumno .horario {
    display: none;
  }

  .container .alumno .lab {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .container .encabezado {
    display: none;
  }

  .container {
    min-width: 100%;
  }

  #data {
    min-width: 98%;
  }

  .container .alumno .nombre {
    width: 120px;
  }

  .container .alumno div {
    font-size: 0.8em;
  }

  .container .alumno .horario {
    display: none;
  }

  .container .alumno .lab {
    display: none;
  }
}
