@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebf5fc;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: calc(100vh - 30px);
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .card {
  z-index: 10;
  position: relative;
  width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 30px;
}

.container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #ebf5fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.container .card:hover .box {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #4e54c8, #8f94fb);
}

.container .card .box .content {
  padding: 20px;
  text-align: center;
}

.container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(0, 0, 0, 0.02);
  transition: 0.5s;
  pointer-events: none;
}

.container .card:hover .box .content h2 {
  color: rgba(0, 0, 0, 0.05);
}

.container .card .box .content h3 {
  font-size: 1.1em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}

.container .card .box .content p {
  font-size: 1em;
  font-weight: 300;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}

.container .card:hover .box .content h3,
.container .card:hover .box .content p {
  color: #fff;
}

.container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #03a9f4;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container .card:hover .box .content a {
  background: #ff568f;
}

.container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #03a9f4;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container .card .box .content form .submit {
  outline: none;
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #03a9f4;
  margin-top: 15px;
  border-radius: 20px;
  border: none;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container .card:hover .box .content form .submit {
  background: #ff568f;
}

.container .logoipn {
  margin-right: 30px;
  width: 180px;
}

.container .logoescom {
  margin-left: 30px;
  width: 180px;
}

.footer {
  position: relative;
  min-width: 100%;
  min-height: 150px;
  background-color: #800040;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.5);
}

.footer .icon {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(143, 125, 125);
  cursor: pointer;
  transition: 0.4s;
}

.footer .icon:hover {
  box-shadow: 0px 10px #ffff;
  background: #222;
}

.footer i {
  font-size: 2em;
  color: #fff;
  filter: drop-shadow(10px 10px 10px #ffff);
}

.menu {
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.3s;
}

.menu:hover {
  transform: rotate(90deg);
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#222, #800040);
  box-shadow: 10px -5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: absolute;
  top: 0;
  left: -1000px;
  width: 30%;
  min-height: calc(100% - 30px);
  padding: 75px 0;
  transition: 0.4s;
}

.sidebar.active {
  left: 0;
}

.sidebar i {
  position: absolute;
  color: #fff;
  top: 15px;
  right: 20px;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.5s;
}

.sidebar i:hover {
  transform: rotate(360deg);
}

.sidebar .contenido {
  padding-left: 30px;
  color: #fff;
  text-decoration: none;
  min-height: 50px;
  line-height: 50px;
  transition: 0.3s;
}

.sidebar .contenido:hover {
  color: #222;
  background-color: #fff;
  padding-left: 40px;
}

.modal-contenedor {
  display: none;
}

.modal-contenedor.active {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-contenedor .modal-contenido {
  position: relative;
  width: 350px;
  height: 220px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.modal-contenedor .modal-contenido i {
  position: absolute;
  top: 5px;
  right: 10px;
  color: rgb(174, 18, 18);
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.3s linear;
}

.modal-contenedor .modal-contenido i:hover {
  transform: rotate(360deg);
}

.modal-contenedor .modal-contenido .modal-titulo {
  text-align: center;
  margin-top: 5px;
}

.modal-contenedor .modal-contenido .modal-cuerpo {
  text-align: center;
}

@media (max-width: 1179px) {
  .container .logoipn {
    display: none;
  }

  .container .logoescom {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .sidebar {
    position: fixed;
    min-width: 100%;
    min-height: 100vh;
  }
}
